.loginScreen {
  position: relative;
  border-radius: var(--corner);
  background-color: var(--bkg-blue);
  width: 100%;
  height: 924px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
