.btnWkfwBackCoiSetupIcon {
  position: relative;
  width: 32.5px;
  height: 28.5px;
}
.cyberRiskPolicy,
.menuTitle {
  flex: 1;
  display: flex;
  align-items: center;
}
.cyberRiskPolicy {
  position: relative;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 19px;
}
.menuTitle {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.vd1Icon {
  position: relative;
  width: 20px;
  height: 10.5px;
}
.vd1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div {
  position: relative;
  font-weight: 600;
}
.currentPage,
.pagination {
  display: flex;
  flex-direction: row;
}
.currentPage {
  border-radius: var(--br-12xs);
  background-color: var(--color-gray-200);
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-6xs);
}
.pagination {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.fileScopeChild {
  position: relative;
  background-color: var(--color-dimgray-100);
  width: 1px;
  height: 16px;
}
.icons {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.zoom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.fileScope {
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.actions,
.fileScope,
.toolBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.toolBar {
  align-self: stretch;
  background-color: var(--color-darkslategray-200);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
  justify-content: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
  z-index: 1;
}
.screenshot20231020At1213 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.policyTemplateReader1 {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 1431px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--em-bold-size);
  color: var(--white);
  font-family: var(--font-open-sans);
}
