.createAWorkflow {
  flex: 1;
  position: relative;
  letter-spacing: 0.25px;
  font-weight: 800;
}
.createAWorkflowWrapper,
.frameWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.createAWorkflowWrapper {
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.frameWrapper {
  align-self: stretch;
  justify-content: center;
}
.btnWkfwCoiParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  gap: var(--gap-base);
}
.frameParent {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-41xl);
  gap: var(--gap-base);
}
.comparisonsAutoSelect,
.frameParent,
.workflowMain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.comparisonsAutoSelect {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}
.workflowMain {
  position: relative;
  border-radius: var(--corner);
  background-color: var(--bkg-blue);
  width: 100%;
  height: 924px;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-avenir);
}
