.certificateOfInsurance {
  flex: 1;
  position: relative;
  letter-spacing: 0.25px;
  font-weight: 500;
}
.btnWkfwCoi {
  border-radius: var(--corner);
  /* border: 2px solid var(--blue-light); */
  box-sizing: border-box;
  width: 180px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(255,255,255);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--font-gray);
  font-family: var(--font-avenir);
  transition: 200ms;
}
.btnWkfwCoi:hover{
  color: rgb(0, 179, 255);
  transition: 200ms;
  cursor: pointer;
  background-color: aliceblue ;
}